@model GCSite.Models.OwnedGame

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OwnedGame</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewInBox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewInBox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasManual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasManual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasBox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasBox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
