@model GCSite.Models.OwnedGame

@{
    ViewData["Title"] = "Edit";
}
<script type="module" src="~/js/model-viewer.min.js"></script>
<h1>Edit</h1>

<h4>OwnedGame</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentValue" class="control-label"></label>
                <input asp-for="CurrentValue" class="form-control" />
                <span asp-validation-for="CurrentValue" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NewInBox" /> @Html.DisplayNameFor(model => model.NewInBox)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasManual" /> @Html.DisplayNameFor(model => model.HasManual)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasBox" /> @Html.DisplayNameFor(model => model.HasBox)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <input asp-for="Condition" class="form-control" />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelPath" class="control-label"></label>
                <input type="file" name="upload" id="test" class="form-control" />
                <span asp-validation-for="ModelPath" class="text-danger"></span>
                <model-viewer id="image_upload_preview" src="" ar ar-modes="webxr scene-viewer quick-look" camera-controls environment-image="neutral" shadow-intensity="1" autoplay>
                </model-viewer>
            </div>
            <input type="hidden" asp-for="GCUserId" value="@Model.GCUserId" />
            <input type="hidden" asp-for="GameDataId" value="@Model.GameDataId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    test.addEventListener("input", function (e) {
        image_upload_preview.src = URL.createObjectURL(this.files[0]);
    });
</script>
