@model IEnumerable<GCSite.Models.OwnedGame>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <td>
                Game ID
            </td>
            <th>
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewInBox)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasManual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasBox)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    string imgUrl = "";
                    string imgFileName = "";
                    if (item.GameData.ThumbnailPath != null)
                    {
                        string[] splitURL = item.GameData.ThumbnailPath.Split('/');
                        imgFileName = splitURL[splitURL.Length - 1];
                        imgUrl = @"/image/upload/t_thumb/" + imgFileName;
                    }

                    if (System.IO.File.Exists(@"C:\Users\Chiz\source\repos\GCSite\GCSite\wwwroot\image\upload\t_thumb\" + imgFileName))
                    {
                        <img src="@imgUrl" width="90" height="90">
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.GameData.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewInBox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasManual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasBox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
